<div class="about">
    <div class="about__description">
        <h1 class="about__title">Hello <br>I’m Mazur Eduard</h1>
        <h3 class="about__optional">
            I build and optimize web apps
        </h3>
        <p class="about__text">
            Front-End developer from 2020
            I’m based from R. Moldova, i am inspired by the creation of websites, every day I go through more and more new challenges that develop analytical and technical capabilities.
        </p>
        <a class="about__button" href="/documents" onclick="route(event)">To Resume</a>
    </div>
    <img class="about__bg-men" src="./img/about_men.png" alt="men">
</div>